/* You can add global styles to this file, and also import other style files */
*{
  scroll-behavior: smooth;
}
body{
  background-color: black;
}

h2{
  color: silver;
}
h3{
  color: silver;
}

p{
  color: white;
}
