<div class="container">
    <div class="row">
        <div class="film-container">
            <div class="film-container_img">
              <img src="" alt="">
              <p class="film-container_img_rd"></p>
            </div>
            <div class="film-container_title">
              <h2></h2>
            </div>
            div.
        </div>
    </div>
</div>
