

<div class="col-12">
  <h1 class="mx-auto">Top 20 des films les plus populaire</h1>
<ul class="row ">
    <li *ngFor="let film of films" class="col-lg-3 col-md-3 col-sm-12">
        <div class="card">
          <div class="card-body">
            <img src="http://image.tmdb.org/t/p/w780{{film.backdrop_path}}" alt="{{ film.title }}" class="card-img-top" />
            <h5 class="card-title">{{ film.title }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">sortie le: {{ film.release_date }}</h6>
            <p class="card-text">{{ film.overview }}</p>

            <div class="supaSpace">
              <a [routerLink]="['/details', film.id]" routerLinkActive="active" class="card-link supaDetail"> <button type="button" class="btn btn-dark">Details</button></a>
              <a href="#" class="card-link"><button type="button" class="btn btn-dark">
                Watch <i class="fas fa-play-circle"></i
              ></button></a>
            </div>
          </div>
        </div>
      </li>
</ul>
</div>
