<div class="container col-md-5">
  <div class="row">
     <form [formGroup]="signIn" class="mx-auto" (ngSubmit)="onSubmit()">
       <label for=""> Email:
         <input type="text" formControlName="email" placeholder="your email here" />
       </label>
       <label for="">UserName:
         <input type="text" formControlName="username" placeholder="Your username here">
       </label>
       <label for="">Password:
         <input type="password" formControlName="password">
       </label>
       <div class="alert alert-danger mx-auto" [class.display]="!toggle" >error password</div>

       <label for="">Confirm password:
         <input type="password" formControlName="confirmPassword">
       </label>
       <label for="">Are you THE Patapon ?
         <input type="checkbox" formControlName="patapon">
       </label>
       <input type="submit">
     </form>
    </div>


</div>
