{% extends 'base.html.twig' %}

{% block title %}Film{% endblock %}

{% block body %}
    <h1>Film</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ film.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ film.title }}</td>
            </tr>
            <tr>
                <th>Year</th>
                <td>{{ film.year }}</td>
            </tr>
            <tr>
                <th>Synopsys</th>
                <td>{{ film.synopsys }}</td>
            </tr>
            <tr>
                <th>Img</th>
                <td>{{ film.img }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('film_index') }}">back to list</a>

    <a href="{{ path('film_edit', {'id': film.id}) }}">edit</a>

    {{ include('film/_delete_form.html.twig') }}
{% endblock %}
