
li{
  margin: 1rem 1rem;
}

.card-body{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c4c4c+0,595959+12,666666+22,474747+32,2c2c2c+42,000000+54,111111+60,2b2b2b+76,1c1c1c+91,131313+100 */
background: #4c4c4c; /* Old browsers */
background: -moz-linear-gradient(-45deg, #4c4c4c 0%, #595959 12%, #666666 22%, #474747 32%, #2c2c2c 42%, #000000 54%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #4c4c4c 0%,#595959 12%,#666666 22%,#474747 32%,#2c2c2c 42%,#000000 54%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #4c4c4c 0%,#595959 12%,#666666 22%,#474747 32%,#2c2c2c 42%,#000000 54%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  .card-title{
    color: silver;
    text-align: center;
  }
  p {
    height: 20vh;
    overflow: hidden;
  }
  span {
    font-size: 1rem;
  }
  .card-img-top{

    max-width: 250px;
    max-height: 50%;
  }
  .card-text{
    color: grey;
  }
  .supaSpace{
    display: flex;
    justify-content: space-between;
  }
  a{
    color: black;
    &:hover{

      .btn{

        transition: 0.3s all ease-in-out;
        color: rgb(19, 189, 19);

      }
    }
  }
}
