<li class="col-lg-3 col-md-3 col-sm-6">
  <div class="card">
    <div class="card-body">
      <img src="{{ image }}" alt="{{ film.title }}" class="card-img-top" />
      <h5 class="card-title">{{ film.title }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">sortie le: {{ film.release_date }}</h6>
      <p class="card-text">{{ film.overview }}</p>

      <div class="supaSpace">
        <a [routerLink]="['/details', film.id]" routerLinkActive="active" class="card-link supaDetail"> <button type="button" class="btn btn-dark">{{ film.title }}</button></a>
        <a href="#" class="card-link"><button type="button" class="btn btn-dark">
          Watch <i class="fas fa-play-circle"></i
        ></button></a>
      </div>
    </div>
  </div>
</li>
