<div class="container" *ngIf="film.title">
  <div class="row">
    <img src="{{image}}" alt="{{film.title}}" class="mx-auto" />
  </div>
  <div class="row">
    <h2 class="mx-auto">{{film.title}}</h2>
  </div>
  <div class="row">
    <h3 class="mx-auto">Synopsis:</h3>
  </div>
  <div class="row">
    <p class="mx-auto col-md-8">
      {{film.overview}}
    </p>
  </div>
</div>
